{% extends 'blankLayout.html' %} {% block body %} {% endblock %} {% block script %}
<script src="/public/vendor/flixi/stats.js"></script>
<script src="/public/vendor/flixi/detector.js"></script>
<script src="/public/vendor/flixi/three.js"></script>
<script src="/public/vendor/flixi/pixi.js"></script>
<script src="/public/vendor/flixi/keypress.js"></script>
<script src="/public/vendor/flixi/flixi.js"></script>

<script src="/public/custom/game3D/materials.js"></script>
<script src="/public/custom/game3D/player.js"></script>
<script src="/public/custom/game3D/projectile.js"></script>

<script src="/socket.io/socket.io.js"></script>

<script type="text/javascript">
var socket = io();

if (!Detector.webgl) Detector.addGetWebGLMessage();
var camera = new THREE.PerspectiveCamera(45, window.innerWidth / window.innerHeight, 1, 5000);
camera.position.set(0, 200, 800);
var scene = new THREE.Scene();

// objects
var plane = new THREE.Mesh(new THREE.PlaneGeometry(3000, 3000, 10, 10), MATERIALS.DEFAULT);
plane.rotation.x = -Math.PI / 2;
scene.add(plane);

var geometry = new THREE.SphereGeometry(70, 32, 16)
var sphere = new THREE.Mesh(geometry, MATERIALS.GREEN)
scene.add(sphere);

var player = new MainPlayer(scene, socket);

// Lights
var particleLight = new THREE.Mesh(new THREE.SphereGeometry(4, 8, 8), new THREE.MeshBasicMaterial({
    color: 0xffffff
}));
scene.add(particleLight);

scene.add(new THREE.AmbientLight(0x111111));

/*var directionalLight = new THREE.DirectionalLight(0xffffff, 0.125 );
    directionalLight.position.x = Math.random() - 0.5;
    directionalLight.position.y = Math.random() - 0.5;
    directionalLight.position.z = Math.random() - 0.5;
    directionalLight.position.normalize();
    scene.add( directionalLight );*/

var pointLight = new THREE.PointLight(0xffffff, 1);
particleLight.add(pointLight);

//renderer
var container = document.createElement('div');
document.body.appendChild(container);
renderer = new THREE.WebGLRenderer({
    antialias: true
});
renderer.setSize(window.innerWidth, window.innerHeight - 5);
document.body.appendChild(renderer.domElement);

//resizing
window.addEventListener('resize', onWindowResize, false);

function onWindowResize() {
    camera.aspect = window.innerWidth / window.innerHeight;
    camera.updateProjectionMatrix();
    renderer.setSize(window.innerWidth, window.innerHeight);
}

//MAINLOOP
var otherPlayers = {}
var frame = 0;
FLIXI.RunEveryFrame(function() {
    var timer = 0.0001 * Date.now();
    frame++;
    player.move();
    $.each(otherPlayers, function(i, p){
        p.move();
        for(var key in p.projectiles) {
            var dist = new THREE.Vector3()
            dist.subVectors(p.projectiles[key].body.position, player.body.position)
            //TODO get rid of magic 30
            if(dist.length() < 30){
                player.takeHit(p.projectiles[key].dmg)
                scene.remove(p.projectiles[key].body)
                socket.emit("gotHit", {dmg: p.projectiles[key].dmg, projId: p.projectiles[key].projId})
                if(player.isDead()){
                    alert("You have lost :( Find a new match?")
                    location.reload();
                }
                delete p.projectiles[key]
            }
        }    
    })

    camera.position.copy(player.body.position);
    camera.position.y = 100;
    camera.position.x += Math.sin(player.body.rotation.y) * 300
    camera.position.z += Math.cos(player.body.rotation.y) * 300
    camera.lookAt(player.body.position);

    particleLight.position.x = Math.sin(timer * 7) * 300;
    particleLight.position.y = Math.cos(timer * 5) * 400 + 450;
    particleLight.position.z = Math.cos(timer * 3) * 300;
    renderer.render(scene, camera)
    if(frame % 5 == 0){
        socket.emit("updatePos", {pos: player.body.position})
    }    
})


socket.on("updatePos", function(data) {
    if(otherPlayers[data.playerId]){
        otherPlayers[data.playerId].updatePos(data.pos)
        //otherPlayers[data.playerId].body.position.copy(data.pos)
    }
})

socket.on("otherUsers", function(data){
    for (var key in data.users) {
        otherPlayers[key] = new OtherPlayer(scene);
        scene.add(otherPlayers[key].body);
    }
})

socket.on("playerJoined", function(data) {
    otherPlayers[data.playerId] = new OtherPlayer(scene);
    scene.add(otherPlayers[data.playerId].body);
})

socket.on("shotFired", function(data) {
    var proj = new Projectile(data.pos, data.spd, data.projId)
    scene.add(proj.body)
    otherPlayers[data.playerId].projectiles[data.projId] = proj

})

socket.on("playerLeft", function(data) {
    scene.remove(otherPlayers[data.playerId].body);
    delete otherPlayers[data.playerId];
})

socket.on("gotHit", function(data) {
    otherPlayers[data.playerId].takeHit(data.dmg)
    scene.remove(player.projectiles[data.projId].body)
    delete (player.projectiles)[data.projId]
    if(otherPlayers[data.playerId].isDead()){
        alert("You have won :) Find a new match?")
        location.reload();
    }
})

socket.on("gameStart", function(data) {
    if(data.playerNum == 0){
        player.body.position.z=-1000
        player.body.rotation.y = Math.PI
    }else{
        player.body.position.z=1000
    }
})
</script>
{% endblock %}