{% extends 'layout.html' %}
{% block body %}
<div class="container-wide" ng-controller="homeCtrl">
<center>
	<canvas id="myCanvas" width="960" height="540" style="background-color: white;border-style: solid;"></canvas>
</center>
</div>
{% endblock %}

{% block script %}
<script src="/public/vendor/flixi/three.js"></script>
<script src="/public/vendor/flixi/pixi.js"></script>
<script src="/public/vendor/flixi/keypress.js"></script>
<script src="/public/vendor/flixi/flixi.js"></script>

<script src="/public/custom/bomb/collision.js"></script>
<script src="/public/custom/bomb/rect.js"></script>
<script src="/public/custom/bomb/hitbox.js"></script>
<script src="/public/custom/bomb/character.js"></script>
<script src="/public/custom/bomb/wall.js"></script>
<script src="/public/custom/bomb/block.js"></script>
<script src="/public/custom/bomb/level.js"></script>
<script src="/public/custom/bomb/room.js"></script>
<script src="/public/custom/bomb/player.js"></script>
<script src="/public/custom/bomb/controller.js"></script>


<script type="text/javascript">
function homeCtrl($scope, $http) {
  var gameScreen = new FLIXI.Screen($("#myCanvas"));
  gameScreen.resize(1366/2,768/2)

  var room = new Room(gameScreen)
  var playerA = new Player(CONTROLLER.P1);

  playerA.joinRoom(room)

	gameScreen.runAnimateLoop(function(){
		playerA.preFrameAct();
    playerA.postFrameAct();
	});
}
</script>
{% endblock %}