{% extends 'blankLayout.html' %} {% block body %} {% endblock %} {% block script %}
<script src="/public/vendor/flixi/stats.js"></script>
<script src="/public/vendor/flixi/detector.js"></script>
<script src="/public/vendor/flixi/three.js"></script>
<script src="/public/vendor/flixi/pixi.js"></script>
<script src="/public/vendor/flixi/keypress.js"></script>
<script src="/public/vendor/flixi/flixi.js"></script>

<script src="/public/custom/brainFlow/collision.js"></script>
<script src="/public/custom/brainFlow/materials.js"></script>
<script src="/public/custom/brainFlow/player.js"></script>
<script src="/public/custom/brainFlow/wall.js"></script>
<script src="/public/custom/brainFlow/world.js"></script>

<script type="text/javascript">

if (!Detector.webgl) Detector.addGetWebGLMessage();

var world = new MainWorld();

//renderer
var container = document.createElement('div');
document.body.appendChild(container);
renderer = new THREE.WebGLRenderer({
    antialias: true
});
renderer.setSize(window.innerWidth, window.innerHeight - 5);
document.body.appendChild(renderer.domElement);


//MAINLOOP
FLIXI.RunEveryFrame(function() {
    world.runFrame();

    
    renderer.render(world.scene, world.camera)
})
</script>
{% endblock %}