{% extends 'layout.html' %}
{% block body %}
<div class="container-wide" ng-controller="homeCtrl">
<center>
	<canvas id="myCanvas" width="960" height="540" style="background-color: white;border-style: solid;"></canvas>
</center>
</div>
{% endblock %}

{% block script %}
<script src="/public/vendor/flixi/pixi.js"></script>
<script src="/public/vendor/flixi/keypress.js"></script>
<script src="/public/vendor/flixi/flixi.js"></script>

<script src="/public/custom/fighter/lib/debug.js"></script>
<script src="/public/custom/fighter/lib/collision.js"></script>
<script src="/public/custom/fighter/obj/hitbox.js"></script>
<script src="/public/custom/fighter/obj/character.js"></script>
<script src="/public/custom/fighter/obj/wall.js"></script>
<script src="/public/custom/fighter/obj/stage.js"></script>
<script src="/public/custom/fighter/obj/controller.js"></script>


<script type="text/javascript">
function homeCtrl($scope, $http) {
    var gameScreen = new FLIXI.Screen($("#myCanvas"));
    var stage = Stages.finalDestination(gameScreen);


    // var text = new PIXI.Text("Pixi.js can has text!", {font:"15px Arial", fill:"black"});
    // text.y += 50;
    // gameScreen.container.addChild(text);

	// var img = FLIXI.createSprite("/public/custom/img/defaultProjImg.png", 100, 100)
	// img.rotation = 45 * (Math.PI/180);
	// gameScreen.container.addChild(img)

	

    var playerA = new Character(gameScreen, stage, 300, 0, 30, 30, "/public/custom/img/blue.png", CONTROLLER.P1);
    var playerB = new Character(gameScreen, stage, 960-300-30, 0, 30, 30, "/public/custom/img/blue.png", CONTROLLER.P2);
	 
	//gameScreen.resize(1920,1080)

	gameScreen.runAnimateLoop(function(){
		playerA.frameAction();
        playerB.frameAction();

        playerA.move();
        playerB.move();
        //gameScreen.camera.zoom(1.01);
		//img.x++;
	});
    console.log(gameScreen)
}
</script>
{% endblock %}