{% extends 'layout.html' %}
{% block body %}
<div class="container-wide" ng-controller="homeCtrl">
	<h1>Welcome to the best game ever</h1>
	<div>
		<h2>How to play?</h2>
		<ul>
	    <li><h3>Move with arrow keys</h3></li>
	    <li><h3>Hold z to shoot</h3></li>
	    <li><h3>Hit your openent 10 times to win</h3></li>
	    <li><h3><a href="/3d">Click here to find a match (Game will start when another player joins)</a></h3></li>
	  </ul>
	</div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
function homeCtrl($scope, $http) {
	
}
</script>
{% endblock %}